/* Libraria e ikonave dhe stilimi i tyre */
@import url('https://cloudflare.com');

.icn {
    margin-right: 12px;
    color: #00adb5;
    width: 20px;
    text-align: center;
}

.play-icon {
    font-size: 40px;
    color: #00adb5;
}
